<a href="https://colab.research.google.com/github/msatyam832/Python-Programing/blob/master/python_data_type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ------------------------------------ **LIST** --------------------------

-> list is a python data type where we can store different types of data like
    int,float,string etc.

--> list is a mutable data type

--> '[]' with this symbol we can reperesnt list.


--> orderd

--> Read and write both operation can be done

In [ ]:
# Example
list1 = ["satyam","shivam",1,2,3,4.5,2.5]
print(list1)

['satyam', 'shivam', 1, 2, 3, 4.5, 2.5]

**Python - Add List Items**

1) append

2) insert

3) extend

In [ ]:
# append()-------->
# with the help of this function we can insert the element at last postion of current list
list1.append("apple")
print(list1)

['satyam', 'shivam', 1, 2, 3, 4.5, 2.5, 'apple']

In [ ]:
# insert()
# with the help of this function we can insert the element at any particular index
list1.insert(1,"pawan")
print(list1)

['satyam', 'pawan', 'shivam', 1, 2, 3, 4.5, 2.5, 'apple']

In [ ]:
#extend()----------->
# with the help of this function we can insert the iter value like list,tuple
data =["python","java","c","php"]
list1.extend(data)
print("list iter value = ",list1)

data_tuple =(22,23)
list1.extend(data_tuple)
print("tuple iter value =",list1)

list iter value =  ['satyam', 'pawan', 'shivam', 1, 2, 3, 4.5, 2.5, 'apple', 'python', 'java', 'c', 'php']
tuple iter value = ['satyam', 'pawan', 'shivam', 1, 2, 3, 4.5, 2.5, 'apple', 'python', 'java', 'c', 'php', 22, 23]

Python - Access List Items
--------------------------------->

           0 ,      1,        2

fruits =["apple","bananna","Grapes"]

          -3        -2        -1

In [ ]:
fruits =["apple","bananna","Grapes"]
print(fruits[0])

apple

In [ ]:
fruits[-3]

'apple'

In [ ]:
fruits[-1]

'Grapes'

In [ ]:
fruits[0:]

['apple', 'bananna', 'Grapes']

In [ ]:
fruits[::-1]

['Grapes', 'bananna', 'apple']

In [ ]:
num = [1,2,3,4,5,6,7]
print(num[6:0:-2])

print(num[7::-1])

print(num[::])

[7, 5, 3]
[7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7]

**LIST FUNCTIONS**

Aggregate function ---- min,max,sum,count

Remove Function -------remove ,pop,del,clear

other function -------- sort,reverse,index
\

In [ ]:
# Aggregate functions
nums =[1,2,3,4,5,6,7,8,9,9]
print(max(nums))
print(min(nums))
print(sum(nums))
print(nums.count(9))

9
1
54
2

In [ ]:
# Remove functions
numers =[1,2,3,4,5,6,7,8]

# remove data based on value
numers.remove(2)
print(numers)

# remove data based on index
numers.pop(0)
print(numers)

del numers[0]
print(numers)

numers.clear()
print(numers)

[1, 3, 4, 5, 6, 7, 8]
[3, 4, 5, 6, 7, 8]
[4, 5, 6, 7, 8]
[]

In [ ]:
# others functions
numb = [9,4,7,1,2,4,3,5,6,7,8]

numb.sort()
print(numb)

numb.reverse()
print(numb)

print(numb.index(9))

print(2 in numb)

[1, 2, 3, 4, 4, 5, 6, 7, 7, 8, 9]
[9, 8, 7, 7, 6, 5, 4, 4, 3, 2, 1]
0
True

#----------------------------------**TUPLE**------------------------------

--> tuple is a python data types. where we can store different types of data.

--> tuple reperesentation  symbol  ' ()  '

--> tuple is non mutable data types

--> ordered


--> only read operation can be done

--> insert ,append ,extend operation can't be done

--> remove operation can't be done

In [ ]:
tup = (1,2,3,"satyam",["apple,banana"],2.5)
print(type(tup))
print(tup)

<class 'tuple'>
(1, 2, 3, 'satyam', ['apple,banana'], 2.5)

In [ ]:
# Accesing the element
data = [1,2,3,4,5,6,7,8,9]
print(data[0])
print(data[-1])
print(data[0::1])
print(data[::-1])

1
9
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# aggregation_function = max,min,sum,count
tup_data =[1,2,3,4,5,6,7,8]

print(min(tup_data))
print(max(tup_data))
print(sum(tup_data))
print(tup_data.count(7))

1
8
36
1

In [ ]:
fruits =()
print(type(fruits))

# Tuple is non mutable data types
# insertion and remove operation is not there

<class 'tuple'>

#------------------**SETS**----------------------

--> sets is python data types where we can store different types of data

--> unordered

--> mutable data types

--> sets not allowed duplicate allowed

--> indexing and slicing can't be  ( because unorderd)

---> append ,insert ,extend not there  only add and update operation can be done

In [ ]:
data = {1}
print(type(data))
# duplicacy not allowed
s= {1,2,3,4,4,4,4,4}
print(s)

<class 'set'>
{1, 2, 3, 4}

In [ ]:
#insert and update operation
s= {1,2,3,4,5,6}

# with the help of add method we can insert the  single value at a time
s.add(7)
print(s)

# update() with the help of update method we can insert multiple data ta a time
list1 = ["apple","Bananan","oragne"]
s.update(list1)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
# Read operation accesing the value from sets
# indexing and slicing not there
# read operation using loops
s= {1,2,3,4,5,6,7}
for i in s:
  print(i)


#  Remove operations
s.remove(2)
print(s)

1
2
3
4
5
6
7
{1, 3, 4, 5, 6, 7}
None

In [ ]:
s1 = {1,2,3,4,5,"apple","satyam"}
s2 = {6,7,8,9,"banana","satyam"}

print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))

{1, 2, 3, 4, 5, 'banana', 6, 7, 8, 9, 'apple', 'satyam'}
{'satyam'}
{1, 2, 3, 4, 5, 'apple'}

In [ ]:
set1 = {1,2,3,4,5,6,7}
print(type(set1))
print(set1)

list1 =list(set1)
set2 = set(list1)
print(set2)
print(list1)

<class 'set'>
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
[1, 2, 3, 4, 5, 6, 7]

#--------------------->**Dictionary**------------------------>

--> dictionary is a python data type where we can store different type of data

--> here we can store the data key and value format

--> key always store unique value (can't store duplicate keys)

--> value can be duplicate

--> symbol reperesentation = " { }"

--> except sets all data types can keys

In [ ]:
dict = {}
print(type(dict))

<class 'dict'>

In [ ]:
# Read operations
dict = {1:"apple",2:"banana",3:"orange",4:"grapes"}

#get keys
print(dict.keys())

#get values
print(dict.values())

# get value based on key
print(dict.get(1,""))
print(dict[2])

dict_keys([1, 2, 3, 4])
dict_values(['apple', 'banana', 'orange', 'grapes'])
apple
banana

In [ ]:
# write and update operations
dict = {1:"apple",2:"banana",3:"orange",4:"grapes"}

#add and change dictionary values
dict[5]= "guvavav"
print(dict)

dict2 = {6:"patoote",7:"tomatoe"}
print(dict2)

# merge two dictionary
dict.update(dict2)
print(dict)

dict.items()

{1: 'apple', 2: 'banana', 3: 'orange', 4: 'grapes', 5: 'guvavav'}
{6: 'patoote', 7: 'tomatoe'}
{1: 'apple', 2: 'banana', 3: 'orange', 4: 'grapes', 5: 'guvavav', 6: 'patoote', 7: 'tomatoe'}

dict_items([(1, 'apple'), (2, 'banana'), (3, 'orange'), (4, 'grapes'), (5, 'guvavav'), (6, 'patoote'), (7, 'tomatoe')])

In [ ]:
# remove operation

dict = {1:"apple",2:"banana",3:"grapes"}

# remove item based on keys
dict.pop(2)
print(dict)

# last item delete
dict.popitem()
print(dict)

{1: 'apple', 3: 'grapes'}
{1: 'apple'}

In [ ]:
# some othe examples
dict = {}
dict["name"]= "satyam"
course = ["python","java","c"]
dict["course_name"] = course
print(dict)

# keys can't be duplicate but  it is not showing error in this case always taking latest values
data = {"name":"satyam","name":"shivam"}
print(data["name"])

{'name': 'satyam', 'course_name': ['python', 'java', 'c']}
shivam

#---------------------------------->**String**-----------------------------------

--> string is  a immutable data types

--> example = "python is a very easy language"

--> indexing and slicing can be done

In [ ]:
# indexing and slicing

s = "pwskills"
print(s[0])
print(s[0::])
print(s[::-1])


# concatination of two different strings
s1 = "satyam"
s2= "mishra"
print(s1+s2)

p
pwskills
sllikswp
satyammishra

In [ ]:
s1 = "pwskillS"
# check count of any char
print(s1.count("l"))

# returning the first index of given string
print(s1.find("p"))

#convert upper case
print(s1.upper())

#convert lower case
print(s1.lower())

# every first letter is a camel case
data = "satyam kumar mishra"
print(data.title())

a= "123pwskill"
print(a.isalpha())
print(a.isnumeric())
print(a.isalnum())

2
0
PWSKILLS
pwskills
Satyam Kumar Mishra
False
False
True

In [ ]:
# split and join operation

#split method: return the data in list format and seperate the value based on seperatror

# join operation convert into string from any data types and return  data in string format

str  = "python is a good programing lanaguage"
data = str.split(" ")
print(data)
rev =data[::-1]
print(" ".join(rev))

['python', 'is', 'a', 'good', 'programing', 'lanaguage']
lanaguage programing good a is python

#---------------------------------**Numbers**--------------------------

Integer = 1

float = 2.5

Complex = ij

non  mutable data types ======  string,tuple,number


Thank You